.flex{
    display: flex;
}

.title-wrapper{
    display: flex;
    align-items: baseline;
}

.shout.smaller
{
    font-size: 2em;
}

.smaller{
    font-size: .5em;
}

.slide .title--white{
    color: #fff;
}